.emacs.d.spacemacs/
.emacs.d/
.space-vim/
.ssh/
.fzf/
.config/
.cache/
.bashrc_bak
.local
tools/
develop/
.bash_logout
.profile
.bash_history
.viminfo
.sudo_as_admin_successful
.landscape
.motd_shown
*.out